@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}
/*header-section*/
/*nav-bar*/
.nav-settings{
    list-style: none;
    margin: 48px 1000px;
    display: flex;
    gap: 44px;
}
.nav-list-anchor{
    text-decoration: none;
    color: #131318;
    font-weight: 400;
}
#nav-title{
    color: #FF5400;
}
.nav-logo{
    font-weight: 800; 
    font-size: 36px;
    padding-left: 10px;
    align-items: center;
    white-space: nowrap;

}
.nav-bar-settings-two{
    display: flex;
}
.nav-image{
    width: 48px;
    height: 56px;
    padding: 25px;
}
.nav-bar{
    display: flex;
    padding: 10px 10px;
}
.menu{
    padding-left: 50px right 50px;
    margin-top: 40px;
    width: 50px;
    height: 30px;
}
/*nav-bar-ending*/
/*banner-section*/
.banner-section{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    padding-bottom: 500px;
    margin: 10px 200px;
    border: 5px;
    border-radius: 20px;
}
.banner-title{
    padding-top: 106px;
    padding-left: 440px;
    display: flex;
    gap: 24px;
    font-size: 62px;
    font-weight: 800;
    color: #FFF;
}
.banner-subtitle{
    display: flex;
    margin-top: 5px;
    padding-left: 440px;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}
.banner-input-section{
    border: 10px solid rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
}
.where-to-go{
    list-style: none;
}
/*banner-section-ending*/
.banner-input-section-bar{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 10px solid #FFF;
    font-size: 16px;
    font-weight: 400; 
    gap: 24px;
}
/*Media-Query-Settings*/
@media screen and (max-width:576px) {
    .banner-section{
        background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
        background-repeat: no-repeat;
        padding-bottom: 500px;
        margin: 10px 200px;
        border: 5px;
        border-radius: 20px;
    }
}